:root {
  /* font-size: 0.75em; */
  font-size: calc(0.5em + 1vw);
}

/* @media (min-width: 800px) {
  :root {
    font-size: 0.875em;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
} */
body {
  line-height: 1.2;
}
.slogan {
  font-size: 1.2em;
  padding: 1.2em;
  background-color: #ccc;
}

ul {
  font-size: 0.8rem;
}

.padded {
  font-size: 16px;
  padding: 1em;
  background-color: aliceblue;
}

.box {
  border-radius: 1em;
  padding: 1em;
  background-color: lightgray;
}
.box-small {
  font-size: 12px;
}

.box-large {
  font-size: 18px;
}

.panel {
  font-size: 1rem;
  border: 1px solid #999;
  padding: 1em;
  border-radius: 0.5em;
}

.panel > h2 {
  margin-top: 0;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.panel-large {
  font-size: 1.2rem;
}

.square {
  background-color: #369;
  width: 90vmin;
  height: 90vmin;
}

.about-us {
  font-size: 2em;
}
